{% extends 'base.html' %}  

{% block title %}
about
{% endblock %}

{% block content %}

<div class="row featurette" style="align-items: center;">
  <div class="col-md-7 order-md-2 " style="padding: 30px; margin-bottom: 30px;">
    <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
    <p class="lead">City Hospital was established in the heart of the city of Ernakulam in 1971 by a group of highly experienced doctors. It had many unique features, such as the first 24hr Casualty. 
      It was one of the leading multispeciality hospital and had in its team many doctors renowned in the fields of surgery, Ortho, Cardio Thorax, Obstetrics and Gynecology, Paediatrics and Medicine. It offered a wide range of special services and delivered high quality healthcare with personal touch.
       With the retirement and ill health and the shifting of practice of many of the prominent doctors, the focus and prominence of City Hospital went into a period of decline.
      In July 2011, Mr.Basheeruddin, a technocrat, Managing Director of Furnace Fabrica, a Mumbai based company engaged in supply and erection of various kinds of plants and equipment internationally, took over the management by acquiring majority shares, along with some of his well wishers.
      They wanted to rejuvenate the hospital and give it a new direction & purpose, to restore it to its old glory. Their aim is to provide high quality medical care with focus on compassion and affordability. Helping to fulfill their high aims two young dynamic members of the medical profession – an 
      experienced Neuro Surgeon and Dr.Sanam Basheer, a very experienced Obstetrics and Gynecologist skilled in laparoscopic surgeries. They are on the Director Board and are ably helped by other members.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="../static/images/hospitals.jpg" style="width: 400px; padding: 30px;" alt="">
  </div>
</div>


{% endblock %}
